<form [formGroup]="form" class="grid grid-cols-10 gap-4">
  <sw-input class="col-span-2" label="Código" formControlName="codigo" name="codigo" errorMessage="Campo obrigatório." #codigoRef />
  <sw-input class="col-span-8" label="Nome" formControlName="nome" name="nome" (keydown.enter)="adicionarIngrediente()" />

  <div 
    formArrayName="ingredientes" 
    class="col-span-10 p-4 rounded-md outline-1 outline-gray-300 mt-10"
    [class.outline-red-500]="ingredientesInvalidos"
  >
    <h2 class="text-xl mb-5" [class.text-red-600]="ingredientesInvalidos">Ingredientes</h2>

    @for (ingrediente of ingredientes.controls; let i = $index; track ingrediente) {
      <div [formGroupName]="i" class="grid grid-cols-10 gap-4 my-2">
        <sw-input swAutoFocus class="col-span-2" label="Código" formControlName="codigo" name="codigo" errorMessage="Campo obrigatório." />
        <sw-input class="col-span-7" [class.col-span-8]="ingredientes.controls.length === 1" label="Nome" formControlName="nome" name="nome" (keydown.enter)="adicionarIngrediente()" />

        @if (ingredientes.controls.length > 1) {
          <button swButton color="red" class="col-span-1" type="button" tabindex="-1" (click)="removerIngrediente(i)">Remover</button>
        }
      </div>
    }
    <button swButton class="col-span-1" type="button" (click)="adicionarIngrediente()">Adicionar</button>
  </div>
  <div class="col-span-10 flex justify-end gap-4">
    @if (editando()) {
      <button swButton type="button" tabindex="-1" (click)="voltar()">Voltar</button>
      <button swButton type="button" (click)="cadastrar(); voltar()">Salvar</button>
    } @else {
      <button swButton color="red" type="button" tabindex="-1" (click)="limpar(); codigoRef.focus()">Limpar</button>
      <button swButton type="button" (click)="cadastrar(); codigoRef.focus()">Cadastrar</button>
    }
  </div>
</form>
