<div class="relative z-0 pb-6 w-full group">
  <input
    #inputRef
    type="text"
    name="input"
    placeholder=" "
    swInput
    [disabled]="disabled"
    [hasError]="hasError"
    [value]="value"
    (input)="onInputChange($event); mostrarDica.set(true)"
    (blur)="mostrarDica.set(false)"
  />
  <label for="input" swLabel [hasError]="hasError">
    {{ label() }}
  </label>

  @if (hasError) {
    <span class="absolute top-11 left-0 text-xs text-red-500">
      {{ errorMessage() }}
    </span>
  }


  <div 
    class="absolute top-11 right-0 text-xs text-gray-500 transition-opacity duration-1000"
    [ngClass]="{'opacity-0': !mostrarDica(), 'opacity-100': usarDica() && mostrarDica()}"
  >
    <ng-content select="[slot='dica']"></ng-content>
  </div>
</div>
