<h1 class="text-3xl mb-5">Análise de compatibilidade entre fórmulas</h1>

<section>
  <for-formulario-pesquisa-codigos (buscarAcionado)="buscar($event)" />
</section>

@if (codigosNaoEncontrados().length > 0) {
  <section swNavigateOnInit>
    <sw-panel title="Fórmulas não encontradas">
      <div class="flex gap-4">
        @for (codigo of codigosNaoEncontrados(); track codigo) {
          <span class="p-2 rounded-md outline-1 outline-red-500">{{ codigo }}</span>
        }
      </div>
    </sw-panel>
  </section>
}

@if (formulasEncontradas().length > 0) {
  <section swNavigateOnInit>
    <sw-panel title="Fórmulas encontradas">
      <div class="flex gap-4">
        @for (formula of formulasEncontradas(); track formula.id) {
          <div class="rounded-md outline-1 outline-gray-300">
            <h3 class="bg-gray-300 p-2 rounded-t-md">{{ formula.codigo }}</h3>
            <p class="p-2">{{ formula.nome }}</p>
            <ul>
              @for (ingrediente of formula.ingredientes; track ingrediente.codigo) {
                <li class="p-2 border-t border-gray-300">{{ ingrediente.codigo }} - {{ ingrediente.nome }}</li>
              }
            </ul>
          </div>
        }
      </div>
    </sw-panel>
    
    <div class="flex justify-end gap-4">
      <button swButton type="button" [disabled]="formulasEncontradas().length < 2" (click)="analisar()">Analisar compatibilidade</button>
    </div>
  </section>
}

@if (resultados().length > 0) {
  <section swNavigateOnInit>
    <sw-panel title="Resultado">
      @for (resultado of resultados(); track resultado.id) {
        <sw-panel 
          [title]="resultado.compatibilidade ? 'Compatível' : 'Incompatível'" 
          [color]="resultado.compatibilidade ? 'green' : 'red'"
        >
          <div class="flex gap-4 px-4">
              @for (formula of resultado.formulasUtilizadas.values(); track formula) {
                <div class="rounded-md outline-1 outline-gray-300">
                  <h3 class="bg-gray-300 p-2 rounded-t-md">{{ formula.codigo }}</h3>
                  <p class="p-2">{{ formula.nome }}</p>
                  <ul>
                    @for (ingrediente of formula.ingredientes; track ingrediente.codigo) {
                      <li 
                        class="p-2 border-t border-gray-300" 
                        [class.bg-red-100]="resultado.ingredientesDiferentes.includes(ingrediente.codigo)"
                      >
                          {{ ingrediente.codigo }} - {{ ingrediente.nome }}
                      </li>
                    }
                  </ul>
                </div>
              }
          </div>
        </sw-panel>
      }
    </sw-panel>
    
    <div class="flex justify-end gap-4">
      <button swButton type="button" (click)="salvarResultado()">Salvar resultado</button>
    </div>
  </section>
}